body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #F9FCF8 0%, #E9F1E6 100%);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 2rem;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.main-header {
    width: 100%;
    text-align: center;
    color: #333;
    padding: 3rem 2rem;
}

.status-header {
    width: 100%;
    text-align: center;
    color: #333;
    padding: 7rem 2rem;
}

main {
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.wet {
    color: green;  /* 绿色表示湿润 */
}

.dry {
    color: orange;  /* 橙色表示干燥 */
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}


.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.chart, .art-image {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* 确保图片和文本都居中 */
}

.chart img, .art-image img {
    width: 100%; /* 让图片响应式地填充容器宽度 */
    height: auto;
    display: block;
}

.image-description {
    margin-top: 8px; /* 在图片和文本之间添加一点空间 */
    color: #333; /* 文本颜色 */
    font-size: 16px; /* 文本大小 */
    font-style: italic; /* 斜体显示说明 */
}
